<% layout("/layout/boilerplate") -%>
<body>
    <h3>Create New Listing</h3>

    <form method="POST" action="/listings" novalidate class="needs-validation" 
    enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <label for="title" class="form-label">Title</label>
                <input id="title" name="listing[title]" 
                       placeholder="Type a title for this listing" 
                       type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid title.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-8 offset-2">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="listing[description]" 
                          placeholder="Type a valuable description for this listing" 
                          class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a description.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            
            <div class="col-8 offset-2">
                <label for="image" class="form-label">Image</label>
                <input id="image" name="listing[image]" 
                       type="file" 
                       class="form-control" required>
                <div class="invalid-feedback">Please enter a valid URL.</div>
                required
            </div>

            <div class="col-8 offset-2">
                <label for="location" class="form-label">Location</label>
                <input id="location" name="listing[location]" 
                       placeholder="Enter location for this listing" 
                       type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid location.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-3 offset-2">
                <label for="price" class="form-label">Price</label>
                <input id="price" name="listing[price]" 
                       placeholder="Enter price" 
                       type="number" class="form-control" required>
                <div class="invalid-feedback">Please enter the amount.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-5">
                <label for="country" class="form-label">Country</label>
                <input id="country" name="listing[country]" 
                       placeholder="Enter country for this listing" 
                       type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter the country.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
        </div>

        <br/><br/>
        <button class="btn btn-success offset-2 mb-3" type="submit">Save</button>
    </form>
</body>